<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.venovu.energiklart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.venovu.energiklart.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.venovu.energiklart.Kund_activity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.venovu.energiklart.Rond_activity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.venovu.energiklart.Tab_Fragment1_Kund" />
        <activity android:name="com.venovu.energiklart.Tab_Fragment2_Kund" />
        <activity android:name="com.venovu.energiklart.Tab_Fragment3_Kund" />
        <activity android:name="com.venovu.energiklart.Tab_Fragment4_Kund" />
        <activity android:name="com.venovu.energiklart.Tab_Fragment1_Rond" />
        <activity android:name="com.venovu.energiklart.Tab_Fragment2_Rond" />
        <activity android:name="com.venovu.energiklart.Tab_Fragment3_Rond" />
        <activity android:name="com.venovu.energiklart.Tab_Fragment4_Rond"></activity>
    </application>

</manifest>
